<% include ./partials/header %>

<div class="ui main text container mt-3">
    <div class="ui huge header jumbotron-fluid">
        Blog App
    </div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <div class="item">
                <div class="ui medium image">
                    <img src="/Images/back.jpg" alt="halo image" class="item">
                </div>
                <div class="content">
                    <div class="header">
                        <a href="#" class="header">Halo-5</a>
                    </div>
                    <div class="meta">
                        <span>20/04/2020</span>
                    </div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quaerat accusamus similique
                            officiis totam earum necessitatibus est dolore quam qui.</p>
                    </div>
                    <div class="extra">
                        <a href="#" class="btn btn-primary">Read More...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>